[System]
Account = "xxx"
Password = "xxx"
CronTiming = "23:30"
Lang = "zh"

[Line]
Enable = true
Daily = true
Token = "xxxx"

#[Mailer]
#Enable = false
#Daily = true
#Account = "xxx@gmail.com"
#Password = "xxx"
#To = "xxxx@gmail.com"

[[Accounts]]
Username = "xxx@gmail.com"
Password = "xxxx"

[[Accounts]]
Username = "zzz@gmail.com"
Password = "zzzz"