<!DOCTYPE html>
<html>
<head>
    <title>FreemonBot Status</title>
</head>
<body>
    <h2>Status</h2>
    {{range $User := .ConfigData.Accounts}}
    <table>
        <thead>
            <tr>
                <th>DomainName</th>
                <th>Days</th>
                <th>ID</th>
                <th>RenewState</th> 
                <th>CheckTimes</th>
            </tr>
        </thead>
        <tbody>
            {{range $Domain := $User.Domains}}
            <tr>
                <td>{{ $Domain.DomainName }}</td>
                <td>{{ $Domain.Days}}</td>
                <td>{{ $Domain.ID }}</td>
                <td>{{ $Domain.RenewState }}</td>
                <td>{{ $Domain.CheckTimes }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <br>
    {{end}}
</body>
</html>