<!DOCTYPE html>
<html>
<head>
    <title>FreemonBot Status</title>
</head>
<body>
    <h2>Status</h2>
    {{range $User := .Users}}
    <table>
        <thead>
            <tr>
                <th colspan="4" > {{ $User.UserName }} </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DomainName</td>
                <td>Days</td>
                <td>ID</td>
                <td>RenewState</td>      
            </tr>
            {{range $Domain := $User.Domains}}
            <tr>
                <td>{{ $Domain.DomainName }}</td>
                <td>{{ $Domain.Days}}</td>
                <td>{{ $Domain.ID }}</td>
                <td>{{ $Domain.RenewState }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{end}}
</body>
</html>